
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
  height: 100vh;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    border: 0;
}


.item-navbar li a{
    color:  white !important;
    font-size: 30px;
    padding-right: 20px;
}
.img-navbar{
    margin-left: 20px;
}

.submenu{
    background-color: blue;
    border-bottom: solid 3px;
    
}
.submenu ul li a {
    color: white;
    font-weight: 400;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;

}
.container{
    display: flex;
      align-items: center;
      justify-content: center;
      margin: 5vh auto;
}
.titulopadrao1{
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    color: #2d2692;
}
.subtitulopadrao1{
    font-family: "Roboto", serif;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    color: #3f5bd9;
    margin-top: -10px;
}


.full-height {
    width: 100% !important;
    min-height: 100vh !important; /* Define a altura mínima para preencher a visualização completa */
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

/* botão card */
/* From Uiverse.io by BHARGAVPATEL1244 */ 
/* From Uiverse.io by kosedagyazilim */ 
.button {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0072ff;
  }
  
  .button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
  }
  
  .button:before,
  .button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .button:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }
  
  .button:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  @media(min-width: 1024px) {
    .div-img-carousel, .item.active {
        overflow: hidden;
        width: 700px;
        height: 400px;
        margin: 0 auto;
    }

    .carousel-inner {
        width: 40%;
    }

    #meuSlider {
        width: 700px;
        height: 400px;
    }

}

.entrar{
  border: none;
 
}

        
.roteador .partes {
  
  border: solid 1px;
  margin: auto 20px;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
}
h4{
  color: rgb(4, 173, 192);
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* btn saiba mais */

/* From Uiverse.io by mobinkakei */ 
button {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  margin: auto;
}

button span {
  color: #164ca7;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  animation: rotate624 0.7s ease-in-out both;
}

button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-shine {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

.btn-shine span {
  z-index: 20;
}

.btn-shine:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}